{% extends '../gestionEstudiantes.html' %}

{% block content %}

<div class="rigth_col" role="main">
    <h1 >Eliminar Estudiante</h1>
    
    <form action="eliminar" method="post">
        {% csrf_token %}
        <div class="form-group row">
          <label for="ci" class="col-4 col-form-label">Nro. de CI</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-id-badge"></i>
                </div>
              </div> 
                <select id="ci"  name="ci" >
                {% for u in estudiantes %}
                
                    <option value="{{u.ci.ci}}">{{ u.ci.ci }}</option>
                
                {% endfor %}
                </select>
            </div>
          </div>
        </div>
        <div class="form-group row">
            <div class="offset-4 col-8">
              <button name="submit" type="submit" class="btn btn-danger"><i class = 'fa fa-trash'></i>Eliminar</button>
            </div>
          </div>
        </form>
 </div>

{% endblock %}